.container {
  text-transform: uppercase;
}

.title {
  text-align: center;
  color: #FFA958;
  text-transform: uppercase;
}

.child-list {
  margin-top: 2rem;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #FFA958;
      color: #fff;
      padding: 0.75rem;
      text-align: left;
      text-transform: uppercase;
    }

    td {
      padding: 0.75rem;
      text-transform: uppercase;
    }

    .id-column,
    .name-column,
    .username-column {
      width: 33.33%;
      text-align: left;
      text-transform: uppercase;
    }

    .edit-buttons-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .edit-button {
      background-color: #FFA958;
      color: #fff;
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;
      text-transform: uppercase;
    }
  }
}

.child-list tbody tr {
  background-color: rgba(255, 169, 88, 0.5);
  font-weight: bold; /* Text fett schreiben */
}
