<!-- addChild.component.html -->
<div class="container" xmlns:text-align="http://www.w3.org/1999/xhtml">
    <h1>Neues Kind hinzufügen</h1>
    <form (ngSubmit)="addChild()">
        <div class="form-group">
            <label for="firstName">Vorname</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="child.firstName" name="firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Nachname</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="child.lastName" name="lastName" required />
        </div>
        <div class="form-group">
            <label for="childBirthday">Geburtstag</label>
            <input type="date" class="form-control" id="childBirthday" [(ngModel)]="child.birthday" name="childBirthday" required />
        </div>
        <div class="form-group">
            <label for="childGender">Geschlecht</label>
            <select class="form-control" id="childGender" [(ngModel)]="child.gender" name="childGender" required>
                <option value="männlich">Männlich</option>
                <option value="weiblich">Weiblich</option>
            </select>
        </div>
        <div class="form-group">
            <label for="note">Notiz</label>
            <input type="text" class="form-control" id="note" [(ngModel)]="child.note" name="note" required />
        </div>
        <div class="form-group">
            <label for="userId">Betreuer</label>
            <select class="form-control" id="userId" [(ngModel)]="child.attendantId" name="userId" required>
                <option *ngFor="let attendant of attendants" [value]="attendant.id">{{ attendant.username }}</option>
            </select>
        </div>
        <div style="margin-top: 2rem;">
            <div *ngIf="success" class="alert alert-success">{{success}}</div>
            <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
            <button type="submit" class="btn btn-primary">Erstellen</button>
        </div>
    </form>
</div>
