.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin-top: 5%;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #FFA958;
  }

  form {
    background-color: #FFEDD8;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 70%;

    .form-group {
      margin-bottom: 1.5rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFA958;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 0.75rem;
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #FFE9D1;
        transition: background-color 0.3s;

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 169, 88, 0.25);
          outline: none;
        }
      }

      select {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23FFA958'%3E%3Cpath d='M10 14l-5-5h10l-5 5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 1.25rem;
        padding-right: 2.5rem;
      }
    }

    .btn-primary {
      display: block;
      width: 100%;
      padding: 0.75rem;
      margin-top: 1.5rem;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background-color: #FFA958;
      border: none;
      border-radius: 0.5rem;
      transition: background-color 0.3s, transform 0.3s;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;

      &:hover,
      &:focus {
        background-color: darken(#FFA958, 10%);
        transform: translateY(-2px);
      }
    }

    .alert {
      margin-top: 2rem;

      &-success {
        background-color: #dff0d8;
        color: #3c763d;
        text-transform: uppercase;
      }

      &-danger {
        background-color: #f2dede;
        color: #a94442;
        text-transform: uppercase;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: rgba(240, 240, 240, 0.8); /* Hinzufügen des leicht grauen transparenten Hintergrunds */
  border: 1px solid #ddd;
  border-radius: 4px;

  th {
    background-color: #FFA958;
    color: #fff;
    padding: 0.75rem;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 0.75rem;
  }
}