$primary-color: #FFA958;
$secondary-color: #fff;
$light-color: #fff; /* Hintergrundfarbe anpassen */

.title {
  text-align: center;
  color: $primary-color;
}

.child-list {
  margin-top: 2rem;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: $primary-color;
      color: $secondary-color;
      padding: 0.75rem;
      text-align: left;
    }

    td {
      padding: 0.75rem;
    }

    .id-column {
      width: 10%;
    }

    .name-column {
      width: 40%;
    }

    .username-column {
      width: 30%;
    }

    .edit-button {
      background-color: $primary-color;
      color: $secondary-color;
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      & + .edit-button {
        margin-left: 1rem;
      }

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

h2 {
  text-align: center;
  color: $primary-color;
}

.antwort-1 {
  color: green;
}

.antwort-2 {
  color: blue;
}

.antwort-3 {
  color: yellow;
}

.antwort-0 {
  color: orange;
}

.antwort-5 {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  thead {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: left;
    font-weight: bold;

    tr {
      th {
        padding: 1rem;
      }
    }
  }

  tbody {
    background-color: $light-color;

    tr {
      border-bottom: 1px solid $secondary-color;

      &:last-child {
        border-bottom: none;
      }

      td {
        padding: 1rem;

        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}
