.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container form {
  background-color: #FFEDD8;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 60%;
  margin-top: -20%;
}

.login-container form h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #FFA958;
  text-transform: uppercase; /* Hinzufügen der Großschreibung */
}

.login-container form .form-group {
  margin-bottom: 1.5rem;
}

.login-container form .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #FFA958;
  text-transform: uppercase; /* Hinzufügen der Großschreibung */
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #FFE9D1;
  transition: background-color 0.3s;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 169, 88, 0.25);
    outline: none;
  }
}

.login-container form .btn-primary {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #FFA958;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s, transform 0.3s;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; /* Hinzufügen der Großschreibung */

  &:hover,
  &:focus {
    background-color: darken(#FFA958, 10%);
    transform: translateY(-2px);
  }
}
