<div class="container">
  <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h2 class="h2">Kinder Collection</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Alter</th>
        <th class="text-center" scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let kind of Kinder; let i = index">
        <th scope="row">{{ kind.id }}</th>
        <td>{{ kind.name }}</td>
        <td>{{ kind.alter }}</td>
        <td class="text-center">
          <button
                  class="btn btn-sm btn-primary"
                  routerLink="/edit-kind/{{ kind.id }}"
          >
            Edit
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>