<div class="container">
    <h1 class="title">Betreuer</h1>
    <div class="child-list">
        <div class="add-button-container">
            <button class="add-button edit-button" (click)="addEducator()">Hinzufügen</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Admin</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendant of attendants; let i=index">
                <td class="id-column">{{attendant.id}}</td>
                <td class="name-column">{{attendant.username}}</td>
                <td><input type="checkbox" [(ngModel)]="attendant.admin"></td>
                <td>
                    <div class="edit-buttons-container">
                        <button class="edit-button" *ngIf="!(attendant.admin)" (click)="deleteEducator(attendant.id,i)">Entfernen</button>
                        <button class="edit-button" (click)="editEducator(i)">Bearbeiten</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div *ngIf="errorMessage" class="alert">{{errorMessage}}</div>
    </div>
</div>
