.title {
  text-align: center;
  color: #FFA958;
}

.child-list {
  margin-top: 2rem;
  position: relative;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: #FFA958;
      color: #fff;
      padding: 0.75rem;
      text-align: left;
    }

    td {
      padding: 0.75rem;
    }

    .id-column,
    .name-column,
    .username-column {
      width: 33.33%;
      text-align: left;
    }

    .edit-buttons-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .edit-button {
      background-color: #FFA958;
      color: #fff;
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      margin-left: 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    input[type="checkbox"] {
      appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      border: 2px solid #FFA958;
      border-radius: 0.25rem;
      vertical-align: middle;
      transition: background-color 0.3s;

      &:checked {
        background-color: #FFA958;
        border-color: #FFA958;
      }
    }
  }

  .alert {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #FFA958;
    color: #fff;
    border-radius: 0.5rem;
  }

  .add-button-container {
    position: absolute;
    top: -5rem;
    right: 0;
    margin: 1rem;
    z-index: 1;
  }

  .add-button {
    background-color: #FFA958;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}
