<div class="container" xmlns:text-align="http://www.w3.org/1999/xhtml">
    <h1>Kind bearbeiten</h1>
    <form (ngSubmit)="updateChild()">
        <div class="form-group">
            <label for="firstName">Vorname</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="selectedChild.firstName" name="firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Nachname</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="selectedChild.lastName" name="lastName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Notiz</label>
            <input type="text" class="form-control" id="note" [(ngModel)]="selectedChild.note" name="note" required />
        </div>
        <div class="form-group">
            <label for="userId">Betreuer</label>
            <select class="form-control" id="userId" [(ngModel)]="selectedChild.attendantId" name="userId" required>
                <option *ngFor="let attendant of attendants" [value]="attendant.id">{{ attendant.username }}</option>
            </select>
        </div>

        <div style="margin-top: 2rem;">
            <div *ngIf="success" class="alert alert-success">{{success}}</div>
            <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
            <button type="submit" class="btn btn-primary">Aktualisieren</button>
        </div>
    </form>
</div>
