.nav-link {
  font-weight: bold;
  text-transform: uppercase; /* Fügt Großschreibung hinzu */
}

.col .nav-link {
  font-weight: bold;
  text-transform: uppercase;
}

nav.navbar {
  border-radius: 0.5rem;
  padding: 1rem;

  ul.navbar-nav.row {
    li.nav-item.col,
    li.nav-item.col-auto {
      a.nav-link {
        font-weight: bold;
        text-transform: uppercase;
        color: #FFA958;

        &:hover,
        &:focus {
          color: darken(#FFA958, 10%);
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;

  /* Hinzufügen der neuen Regel */
  min-height: 100vh;

  /* Der restliche Code bleibt unverändert */
  br {
    margin-top: 1rem;
  }

  h2 {
    text-align: center;
    color: #FFA958;
    font-size: 2rem;
    text-transform: uppercase;
  }

  hr {
    border-color: #FFA958;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.container-main {
  margin: 0 auto;
  max-width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('assets/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  /* Anpassen des Entfärbungsgrads */
  background-attachment: fixed; /* Hält das Hintergrundbild an einer festen Position */

  /* Hinzufügen der neuen Regel */
  min-height: 100vh;

  /* Der restliche Code bleibt unverändert */
  br {
    margin-top: 1rem;
  }

  h2 {
    text-align: center;
    color: #FFA958;
    font-size: 2rem;
    text-transform: uppercase;
  }

  hr {
    border-color: #FFA958;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
