<div class="container-main">
    <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav row">
        <li class="nav-item col">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/login">Logout</a>
        </li><li class="nav-item col-auto"  *ngIf="attendantService.getLoggedInAttendant()">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/myChildren">Meine Kinder</a>
    </li>
        <li class="nav-item col-auto" *ngIf="attendantService.getLoggedInAttendant()?.admin">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/allChildren">Kinder</a>
        </li>
        <li class="nav-item col-auto" *ngIf="attendantService.getLoggedInAttendant()?.admin">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/allAttendants">Betreuer</a>
        </li>

    </ul>
</nav>


<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>

    <router-outlet></router-outlet>
</div>

</div>