<nav class="navbar navbar-expand-sm" style="background-color: #FFEDD8;">
    <ul class="navbar-nav row">
        <li class="nav-item col">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/login">Logout</a>
        </li><li class="nav-item col-auto"  *ngIf="userService.getLoggedInUser()">
        <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/childs">Meine Kinder</a>
    </li>
        <li class="nav-item col-auto" *ngIf="userService.getLoggedInUser()?.admin">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/editChild">Kinder</a>
        </li>
        <li class="nav-item col-auto" *ngIf="userService.getLoggedInUser()?.admin">
            <a class="nav-link font-weight-bold" routerLinkActive="active" routerLink="/editEducator">Betreuer</a>
        </li>

    </ul>
</nav>


<div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>

    <router-outlet></router-outlet>
</div>

