<h1 class="title">Betreuer</h1>

<div class="child-list">
    <div class="add-button-container">
        <button class="add-button edit-button" (click)="addEducator()">Hinzufügen</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Admin</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i=index">
            <td class="id-column">{{user.id}}</td>
            <td class="name-column">{{user.username}}</td>
            <td><input type="checkbox" [(ngModel)]="user.admin"></td>
            <td>
                <div class="edit-buttons-container">
                    <button class="btn btn-danger edit-button" *ngIf="!(user.admin)" (click)="deleteEducator(user.id,i)">Entfernen</button>
                    <button class="btn btn-primary edit-button" (click)="editEducator(i)">Bearbeiten</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
</div>
